.w-100 {
  width: 90%!important;
}

.card-img-top {
  width: 80%;
}

.card {
  border: none;
  
}

.card .card-body .card-img-overlay .job{
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  .card:nth-child(2n) {
    margin-top: 50px;
    }

    .card .card-body .card-img-overlay .job{
      font-size: 9px;
    }
}

@media only screen and (min-width: 600px) {
  .card:nth-child(3n-1) {
    margin-top: 50px;
    }
    .card .card-body .card-img-overlay .job{
      font-size: 15px;
    }
}






